.container {
    text-align:center;
}

.title {
    margin-top: 40px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color : #26ffcb;
    padding-left: 15px;
}

.reset {
    width: 220px;
    height: 80px;
    border: none;
    outline: none;
    background-color: #1f3540;
    color: #26ffcb;
    cursor: pointer;
    border-radius: 50px;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    height: 160px;
    width: 160px;
    background: #1f3540;
    border: 4px solid #0f1B21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 520px;
    width: 564px;
    display: flex;
    margin: auto;
}

.boxes img {
    margin: 40px 40px;
}

.title img {
    padding: 0px 20px;
    height: 33px ;
}

@media (min-width:646px) and (max-width:768px) {
    .title {
        font-size: 50px;
    }
    .board {
        height: 493px;
        width: 450px;
    }
    .boxes {
        height: 150px;
        width: 150px;
    }
    .reset {
        height: 59px;
        width: 167px;
    }
}

@media (min-width:470px) and (max-width:645px) {
    .title {
        font-size: 30px;
    }
    .board {
        height: 405px;
        width: 396px;
    }
    .boxes {
        height: 125px;
        width: 125px;
    }
    .boxes img {
        margin: 36px 36px;
    }
    .reset {
        height: 59px;
        width: 137px;
    }
}

@media (min-width:360px) and (max-width:469px) {
    .title {
        font-size:22px;
    }
    .board {
        height: 306px;
        width: 300px;
    }
    .boxes {
        height: 90px;
        width: 90px;
   }
    .boxes img {
        margin: 24px 24px;
    }
   .reset {
        height: 55px;
        width: 135px;
   }
}

@media (max-width:359px) {
    .title {
        font-size: 17px;
        margin-top: 22px;
    }
    .title img {
        padding: 0px 5px;
        height: 20px;
    }
    .board {
        height: 204px;
        width: 200px;
    }
    .boxes {
        height: 60px;
        width: 60px;
        border: 4px solid #0f1B21;
    }
    .boxes img {
        margin: 12px 12px;
    }
    .reset {
        width: 120px;
        height: 36px;
        font-size: 20px;
    }
}